body {
    margin : 0;
    padding : 0;
    padding-top : 50px;
}
#map {
    position : absolute;
    height : calc(100% - 50px);
    width : 100%;
}
#menu {
    display : block;
    float : right;
    left : 0;
    margin : 10px;
    position : absolute;
    text-align : center;
    top : 50px;
}
#menu div, #menu #find input {
    border : 1px solid gray;
    border-radius : 3px;
}
#menu #find img {
    height : 23px;
    margin : 0 0 0 10px;
    opacity : 1.0;
    vertical-align : top;
}
#menu #find img:hover {
    opacity : 0.8;
}
#menu #find img:active {
    -webkit-filter : invert(100%);
}
#menu div {
    background-color : #E8E8FF;
    padding : 15px;
}
#menu #slider {
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-color : lightgray;
    border-top : none;
    clear : none;
    display : none;
}
#menu #slider span {
    float : left;
}
#menu #slider input {
    float : right;
}
#menu #score {
    border-top : none;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    clear : both;
    display : none;
    font : bold large monospace;
}
#slides {
    position : fixed;
    height : calc(100% - 50px);
    top : 50px;
    width : 100%;
}
#loading {
    background-color : gray;
    display : block;
    height : 100%;
    left : 0;
    opacity : 0.3;
    position : fixed;
    text-align : center;
    top : 0;
    visibility : hidden;
    width : 100%;
    z-index : 99;
}
#loading span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#loading img {
    vertical-align : middle;
    z-index : 100;
}
#dogshit {
    background-color : gray;
    border : 1px solid black;
    bottom : 0;
    display : block;
    height : 30px;
    left : 0;
    margin : 10px;
    opacity : 0;
    position : absolute;
    width : 30px;
}
#dogshit:hover {
    opacity : 0.4;
}
