body {
    margin : 0;
    padding : 0;
    padding-top : 50px;
}
#map {
    position : absolute;
    height : calc(100% - 50px);
    width : 100%;
}
#menu {
    display : block;
    float : right;
    left : 0;
    margin : 10px;
    position : absolute;
    text-align : center;
    top : 50px;
}
#menu div, #menu #find input {
    border : 1px solid gray;
    border-radius : 3px;
}
#menu div {
    background-color : #E8E8FF;
    padding : 15px;
}
#menu #slider {
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-color : lightgray;
    border-top : none;
    clear : none;
    display : none;
}
#menu #slider span {
    float : left;
}
#menu #slider input {
    float : right;
}
#menu #score {
    border-top : none;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    clear : both;
    display : none;
    font : bold large monospace;
}
#slides {
    position : fixed;
    height : calc(100% - 50px);
    top : 50px;
    width : 100%;
}
#dogshit {
    bottom : 0;
    display : block;
    height : 30px;
    left : 0;
    margin : 10px;
    opacity : 0;
    position : absolute;
    width : 30px;
}
